<h1>About me </h1>
<p>
    My name is Juan, I am currently studying the Computer Programming and Analysis advanced diploma program at Seneca College, I have been participating in intensive training in the latest technology in the IT field using C/C++, Java, JavaScript, .NET, UNIX Shell Script, etc. I have had the opportunity to develop other essential areas of programming, including the use and management of databases using MySQL, PL/SQL, Oracle, and MongoDB.

    I have developed organizational and teamwork skills always looking for ways to work efficiently, accurately, and self-motivated. In addition, I seek to always handle many stressful situations successfully and skillfully resolve them under time pressure.
</p>